<html>
  <head></head>
  <body>
    <h1>Add a new Album</h1>
    <form action="/albums" method="POST">
      <div>
        <label>Title: </label>
        <input type="text" name="title">
      </div>
      <div>
        <label>Release Year: </label>
        <input type="int" name="release_year">
      </div>
      <div>
        <label>Artist Id: </label>
        <input type="int" name="artist_id">
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>